   <div class="jumbotron1">
     <h1 class="title">这里不仅卖包，还卖萌!</h1>
     <p class="slogan">私人定制，专属表情

       <!-- <h2>
        这里不仅<span class="sub-slogan "> 卖包</span>，还<span class="sub-slogan "> 卖萌</span>
      </h2> -->

     </p>


     <p class="lead"><a class="btn btn-default" href="/products">进来瞧瞧</a></p>

  </div>


<!-- 第二部分 多图响应式无限轮播 -->

<div class="module-name decorative">
    <p class="section-title-1">最hot表情 </p>
    <div class="short-line"></div>
  </div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- 左右切换控制暂时不用这个样式 -->
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="pic">
          <!-- <img src="https://ww3.sinaimg.cn/large/006tKfTcly1ffoh8tooacj306506z406.jpg" > -->
          <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1ffpn1i5r8cj306506yq4i.jpg" >
          <img src="https://ww1.sinaimg.cn/large/006tNc79gy1ffwmg2dd5gj306a0770u8.jpg" >
          <img src="https://ww2.sinaimg.cn/large/006tNc79gy1ffwmk1n9azj30640793ym.jpg" >

      </div>
    </div>

    <div class="item">
      <div class="pic">
          <!-- <img src="https://ww3.sinaimg.cn/large/006tKfTcly1ffohls48bdj306506yabm.jpg" > -->
          <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1ffpnap56wqj306407d3yn.jpg" >
          <img src="https://ww1.sinaimg.cn/large/006tKfTcly1ffoho1s03pj306506xta5.jpg" >
          <img src="https://ww2.sinaimg.cn/large/006tKfTcly1ffohqtmp7tj306406z0ts.jpg" >
      </div>
    </div>

    <div class="item">
      <div class="pic">
          <!-- <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1ffpndz5w9nj306507egmy.jpg" > -->
          <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1ffpnfpzet0j306307e0tk.jpg" >
          <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1ffpnhhhj4qj306507c0ts.jpg" >
          <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1ffpnjb351yj306507cgmo.jpg" >
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- end 第二部分 多图响应式无限轮播 -->






<!-- 第三部分 服务特色-->

<!--======== 服务优势 =========-->
<section id="service" class="what-we-do">

  <div class="row">
  <div class="module-name decorative">
    <p class="section-title-2">服务特色</p>
  </div>
    <div class="row">
      <div class="col-md-4 ">
        <div class="service-item-img text-center">
          <%= image_tag("designer.jpg") %>
        </div>

        <div class="service-info text-center">
          <h4>专属设计师团队</h4><br />
          <p>私人定制次日交货，最快12小时交稿</p>
          <p>免去您挑选和等待的烦恼 </p>
        </div>
     </div>

      <div class="col-md-4">
        <div class="service-item-img text-center">
          <img src="https://ww3.sinaimg.cn/large/006tNc79gy1ffwe6epcrzj30jg0jgacn.jpg" >
        </div>

        <div class="service-info text-center">
          <h4>手绘和软件的结合</h4><br />
          <p>我们是手绘高手，也是技术大神</p>
          <p>艺术与科技的完美结晶，只为打造软萌可爱的你</p>
        </div>

      </div>
      <div class="col-md-4">
        <div class="service-item-img text-center">
          <%=image_tag("service.png") %>
        </div>

        <div class="service-info text-center">
          <h4>更萌更快，贴心服务</h4><br />
          <p>第一时间跟进用户反馈，修改到您满意为止</p>
          <p>不满意申请退款，立即办理马上到账</p>
        </div>

    </div>
  </div>

</div>
</div>

<!-- end 第三部分 为什么选择卖萌网-->




<!-- Team -->
    <div id="team" class="team">
        <div class="container">
            <row>
                <h2 class="section-title-3">用户评价</h2>
                <p class="wow fadeInUp" data-wow-delay="0.4s"></p>
                <div class="col-md-4 wow fadeInLeft" data-wow-delay="2s">
                    <img class="img-circle" src="https://ww4.sinaimg.cn/large/006tNbRwgy1ffpm7xzs2yj305v06oaa4.jpg">
                    <h4> 顾客s***6</h4>
                    <b></b>
                    <br>
                    <b> 店主超级nice，出图快，
                        还多送了我一个表情！真的好可爱啊！
                        等我再来找你做一套。好喜欢～</b>
                    <br>
                    <!-- <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a> -->
                </div>
                <div class="col-md-4 wow fadeInLeft" data-wow-delay="1.6s">
                  <img class="img-circle" src="https://ww4.sinaimg.cn/large/006tNbRwgy1ffpm76bchkj306j06o0sp.jpg">
                    <h4> 顾客面***悠</h4>
                    <b></b>
                    <br>
                    <b> 哇，可爱到爆炸，美美美，以下省略500字表白。</b>
                    <br>
                    <!-- <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a> -->
                </div>
                <div class="col-md-4 wow fadeInLeft" data-wow-delay="1.2s">
                  <img class="img-circle" src="https://ww2.sinaimg.cn/large/006tNbRwgy1ffpm6nueylj306c06ddih.jpg">
                    <h4>顾客最***8</h4>
                    <b></b>
                    <br>
                    <b> 满分，敲可爱！</b>
                    <br>
                    <b>简直可爱到爆！太喜欢啦！</b>
                    <br>
                    <!-- <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a> -->
                </div>
            </row>
        </div>
        <br/>
        <br/>
        <br/>
    </div>

<!-- 第五部分 设计流程-->

<section id="service" class="what-we-do">

  <div class="row">
  <div class="module-name decorative">
    <p class="section-title-2">设计流程</p>
    <div class="short-line"></div>
  </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="design-way">
          <div class="col-md-2">
          <p class="div1">沟通要求</p>
          </div>
          <div class="col-md-2">
          <p class="div1">下单付款</p>
          </div>
          <div class="col-md-2">
          <p class="div1">设计修改</p>
          </div>
          <div class="col-md-2">
          <p class="div1">确认收货</p>
          </div><div class="col-md-2">
          <p class="div1">发送源码</p>
          </div>
          <div class="col-md-2">
          <p class="div1">售后服务</p>
          </div>
        </div>
      </div>
  </div>

</div>
</section>


<!-- end 第五部分 设计流程-->

