   <div class="jumbotron1">
     <h1 class="title">这里不仅卖包，还卖萌!</h1>
     <p class="slogan">专注卖表情包的网站

       <!-- <h2>
        这里不仅<span class="sub-slogan "> 卖包</span>，还<span class="sub-slogan "> 卖萌</span>
      </h2> -->

     </p>

     <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上注册</a></p>
   </div>

<hr>

<!-- 第二部分 多图响应式无限轮播 -->

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="pic">
          <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1ffo50s1akrj30690b4q30.jpg" >
          <img src="https://ww4.sinaimg.cn/large/006tKfTcgy1ffo5183k9tj30690b474d.jpg" >
          <img src="https://ww4.sinaimg.cn/large/006tKfTcgy1ffo51ja9lzj30690b4wek.jpg" >
          <!-- <img src="https://ww4.sinaimg.cn/large/006tKfTcgy1ffo51z956ej308c0b43zf.jpg" > -->
      </div>
      <!-- <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1ffm424bhwhj308c08t3z2.jpg" alt="可爱风格"> -->

    </div>

    <div class="item">
      <div class="pic">
          <!-- <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1ffo546cyyjj309c0b4t99.jpg" > -->
          <img src="https://ww4.sinaimg.cn/large/006tKfTcgy1ffo54itnqtj309l0b4t95.jpg" >
          <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1ffo55iojx2j309p0b4q3e.jpg" >
          <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1ffo54v0cgzj309m0b474q.jpg" >
      </div>
    </div>

    <div class="item">
      <div class="pic">
          <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1ffo58kfm3kj308y096mxe.jpg" >
          <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1ffo5abxrt0j306x0b474h.jpg" >
          <!-- <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1ffo5abxrt0j306x0b474h.jpg" > -->
          <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1ffo5b7xfefj308808ajri.jpg" >

      </div>
      <!-- <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1ffm45a367vj30b40caq5p.jpg" alt="装逼风格"> -->
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- end 第二部分 多图响应式无限轮播 -->

<hr>

<!-- 第三部分 为什么选择卖萌网-->

<div id="service" class="row">

  <div class="module-name decorative">
    <span>为什么选择卖萌网？</span>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-4 ">
        <div class="service-item-img text-center">
          <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1ffm288tjubj305k05kdfz.jpg" class="round-image-160">
        </div>

        <div class="service-info text-center">
          <h4>一对一服务</h4><br />
          <p>私人定制，专属你的表情</p>
          <p>免去您挑选和犹豫的烦恼 </p>
        </div>
     </div>

      <div class="col-md-4">
        <div class="service-item-img text-center">
          <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1ffm288tjubj305k05kdfz.jpg" class="round-image-160">
        </div>

        <div class="service-info text-center">
          <h4>手绘和编程的组合</h4><br />
          <p>我们一个是手绘高手，一个是编程高手</p>
          <p>艺术与科技的完美组合，共同打造朋友圈独一无二的你。</p>
        </div>

      </div>
      <div class="col-md-4">
        <div class="service-item-img text-center">
          <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1ffm288tjubj305k05kdfz.jpg" class="round-image-160">
        </div>

        <div class="service-info text-center">
          <h4>更萌更快，超高性价比</h4><br />
          <p>一周出单，还可加急，你值得拥有！</p>
          <p>专属表情就此轻松拥有</p>
        </div>

    </div>
  </div>

</div>
</div>

<!-- end 第三部分 为什么选择卖萌网-->


<!-- customer feedback -->

<div id="customer-feedback" class="row">
  <div class="module-name decorative">
    <span>用户评价</span>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-4 ">
        <div class="fd-avatar-box text-center">
          <div class="fd-avatar-box-color-overlay"></div>
          <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fd7qeb8dqvj307y07gq2v.jpg" class="round-image-74">
        </div>

        <div class="quote-box-1">
          <p><i class="fa fa-quote-left pull-left" aria-hidden="true"></i></p><br>
          <p class="feedback-info text-center">
            店主超级nice，出图快，<br>
            还多送了我一个表情！真的好可爱啊！<br>
            等我再来找你做一套。好喜欢！～<br>
          </p>
          <p class="feedback-info text-center" style="font-size:16px;">
            - 顾客s***6
          </p>
          <p><i class="fa fa-quote-right pull-right" aria-hidden="true"></i></p>
        </div>
     </div>

      <div class="col-md-4">
        <div class="fd-avatar-box text-center">
          <div class="fd-avatar-box-color-overlay"></div>
          <img src="https://ww3.sinaimg.cn/large/006tNc79gy1fd7qed0swnj30b30alq32.jpg" class="round-image-74">
        </div>

        <div class="quote-box-1">
          <p><i class="fa fa-quote-left pull-left" aria-hidden="true"></i></p><br>
          <p class="feedback-info text-center">
            哇，可爱到爆炸，美美美，以下省略500字表白。<br>

          </p>
          <p class="feedback-info text-center" style="font-size:16px;">
            - 顾客面***悠
          </p>

          <p><i class="fa fa-quote-right pull-right" aria-hidden="true"></i></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="fd-avatar-box text-center">
          <div class="fd-avatar-box-color-overlay"></div>
          <img src="https://ww3.sinaimg.cn/large/006tNc79gy1fd7qee04w0j30b40b4jrj.jpg" class="round-image-74">
        </div>

        <div class="quote-box-1">
          <p><i class="fa fa-quote-left pull-left" aria-hidden="true"></i></p><br>
          <p class="feedback-info text-center">
            满分，敲可爱！<br>
            <p class="feedback-info text-center" style="font-size:10px;">
              - 顾客叶***儿<br ／>
              <hr>
            简直可爱到爆！太喜欢啦！<br>
            <p class="feedback-info text-center" style="font-size:14px;">
              - 顾客陈***博
              <hr>
            超级好，画的很可爱～卖家人也很好和我非常仔细的沟通<br>
            <p class="feedback-info text-center" style="font-size:15px;">
              - 顾客最***8
          </p>

          </p>
          <p><i class="fa fa-quote-right pull-right" aria-hidden="true"></i></p>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- Team -->
    <div id="team" class="team">
        <div class="container">
            <row>
                <h2 class="wow fadeInUp">用 户 反 馈</h2>
                <p class="wow fadeInUp" data-wow-delay="0.4s">听他们的评价</p>
                <div class="col-md-4 wow fadeInLeft" data-wow-delay="2s">
                    <img class="img-circle" src="https://ww4.sinaimg.cn/large/006tKfTcgy1ffo7jfhw3vj30690b4q30.jpg">
                    <h4> A同学</h4>
                    <b>上市企业HR总监</b>
                    <br>
                    <b> 这是我加入过的最好的学习组织，不仅打消了我短时间不能很好获得成长的疑虑，还让我在行动中变得更加自信了。</b>
                    <!-- <br>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a> -->
                </div>
                <div class="col-md-4 wow fadeInLeft" data-wow-delay="1.6s">
                  <img class="img-circle" src="https://ww4.sinaimg.cn/large/006tKfTcgy1ffo7jfhw3vj30690b4q30.jpg">
                    <h4>B同学</h4>
                    <b>新晋程序媛</b>
                    <br>
                    <b> 自从加入了海盗学院，整个人都惊呆了。物超所值的行动课，把我其他的线上课学习也都带动起来了。值会票价，太赞了</b>
                    <br>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
                <div class="col-md-4 wow fadeInLeft" data-wow-delay="1.2s">
                  <img class="img-circle" src="https://ww4.sinaimg.cn/large/006tKfTcgy1ffo7jfhw3vj30690b4q30.jpg">
                    <h4>C同学</h4>
                    <b>科技企业CEO</b>
                    <br>
                    <b> 我是奔着组织来的，在行动课上最大的收获，就是有一群神队友。浓浓的行动氛围，让我对管理团队筛选人才有了灵感</b>
                    <br>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
            </row>
        </div>
        <br/>
        <br/>
        <br/>
    </div>
</div>
<!-- End Team -->

<!-- end of customer feedback -->
