/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  // margin-bottom: 100px;
}

//-----devise-view

.devise-image {
 background-image:url("https://cdn.pixabay.com/photo/2016/11/14/20/52/cat-1824668_1280.jpg");
 background-repeat: no-repeat;
 background-size: cover;
}

.devise-view {
   margin-top: 50px;
   background-color: rgba(250, 250, 250, 0.69);
   padding: 0px 20px;
   border-radius: 20px;
   max-width: 400px;
}

//-----navbar-----

.navbar-default {
     background-color: black;  //背景颜色

     border-color: black; //边框色

     margin-bottom: 0; //底部 margin 不撑开距离
   }

.navbar-nav{
  .active
  a{
    color: white;
    background-color: #f9b294;//product背景颜色
  }
 }


@media (min-width: 768px) {
  .navbar {
    border-radius: 0; //圆角为0
  }
}

.navbar-default .navbar-brand {
    color: white;
    font-size: 25px;
}

.navbar-default .navbar-nav > li > a {
  color: white;  //改变导航栏文字字体颜色为白色
  font-size: 19px;
}

//-----navbar-----end

//-----首图------

 .jumbotron1 {
  background-image: url(cat-header.jpg);
  background-repeat: repeat-x;
  background-size: cover;
  background-color: #82908E;
  // margin-top: 0px;
  margin: 0px -15px 20px;//顶部margin为0，因此可以直接接着导航栏；左右margin为负15，因此可以顶到浏览器的边缘（抵消 container-fluid 的 15px 左右padding);底部margin为20，会跟下面的内容撑开距离

  padding-top: 20px;
  padding-bottom: 100px;
}

.title {
  font-family: "Wawati SC", 娃娃体;
  font-size: 40px;
  color: white;
  text-align: left;//左对齐
  margin-top: 200px;
  margin-left: 60px;
  margin-bottom: 80px;

  -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}


.slogan {
  margin-top: 50px;
  margin-left: 115px;
  margin-bottom:10px;
  text-align: left;
  font-family: "Wawati SC", 娃娃体;
  color: white;
  font-size: 32px;//字体大小
  top: 12px;
}

.lead {
  margin-top: 80px;
  margin-left: 190px;
  margin-bottom: 60px;
  font-family: "Wawati SC", 娃娃体;
  font-size: 14px;
  color: white;
  text-align: left;
}

  .btn btn-default {
   background-color: #82908E;
   color : white;
 }

.btn.btn-primary-start{
    background-color: transparent;
    color: white;//按钮字体颜色
    border-color: #f79571;
    padding: 10px 20px;
    font-size: 20px;
    letter-spacing: 1px;
}


.btn.btn-primary-start:hover{
    background-color: #f79571;//鼠标移动到按钮上变色
    border-color: #f79571;
    color: white;
}





//-----首图------end

//---- 第二部分轮播图----

// 控制文字“私人定制，专属表情”
.section-title-1 {
  text-align: center;
  font-family: "Wawati SC", 娃娃体;
  font-size: 20px;
  color: #453A30;
  // text-decoration: underline; 待考虑
  margin-top: 50px;
  margin-bottom: 50px;
}

p .section-title-1 {
	/* Font & Text */
	font-family: "Wawati SC", 娃娃体;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 25.7143px;
	text-decoration: none solid rgb(249, 178, 148);
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(249, 178, 148);

	/* Box */

	margin: 300px 0px;
	padding: 10px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: absolute;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: block;
	clear: none;
	z-index: auto;
}


.section-title-3 {
  text-align: center;
  font-family: "Wawati SC", 娃娃体;
  font-size: 20px;
  color: #453A30;
  // text-decoration: underline; 待考虑
  margin-top: 50px;
  margin-bottom: 50px;
}




.carousel-inner img {

  margin-left: 45px;
  background-position: center;
  background-color: red;

}

// 设置向右轮播箭头的颜色
.carousel-control.right {
    left: auto;
    right: -20px;
    color:red;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0000) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0000) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0000) 0%, rgba(0, 0, 0, 0) 100%);
    background-repeat: repeat-x;
  }

  // 设置向左轮播箭头的颜色
  .carousel-control.left {
      right: auto;
      left: -20px;
      color:red;
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0000) 0%, rgba(0, 0, 0, 0) 100%);
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0000) 0%, rgba(0, 0, 0, 0) 100%);
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0000) 0%, rgba(0, 0, 0, 0) 100%);
      background-repeat: repeat-x;
    }


//----第二部分轮播图---end


// 第三部分服务特色

.section-title-2 {
  text-align: center;

  font-size: 20px;
  font-family: "Wawati SC", 娃娃体;
  color: #453A30;
  // text-decoration: underline; 待考虑
  margin-top: 50px;
  margin-bottom: 50px;
}


#service .row {
	/* Color & Background */
	background-attachment: scroll;
  background-color: #EFF1F0;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(51, 51, 51);

	/* Box */
	// height: 576.667px;
	// width: 1186.67px;
	// border: 0px none rgb(51, 51, 51);
	// border-top: 0px none rgb(51, 51, 51);
	// border-right: 0px none rgb(51, 51, 51);
	// border-bottom: 0px none rgb(51, 51, 51);
	// border-left: 0px none rgb(51, 51, 51);
  // margin-top: 200px;
  // margin-bottom: 10px;
  // margin-right: 0px;
  // margin-left: 0px;
  // padding-right: 100px;
  // padding-bottom: 0px;

  top: 0px;  //第三部分框架结构简化
  margin-top: 80px;
  margin-bottom: 50px;
  bottom: 0px;


	/* Positioning */
	// position: relative;
	// top: auto;
	// bottom: 120px;
	// right: auto;
	// left: auto;
	// float: none;
	// display: block;
	// clear: none;
	// z-index: auto;

}

// .row {
//   margin-left: -15px;
//   margin-right: -15px;
//   margin-top: 50px;
//
// }

.service-info {
  font-family: "Wawati SC", 娃娃体;
  font-size: 16px;  //服务简介字体大小
}

.service-item-img  img{
    height: 260px; //图片大小
}

// 第三部分服务特色 end



// 第四部分用户评价

    .wowfadeInUp {
      position: relative;
      right: -20px;
      font-size: 18px;
      font-family: "Wawati SC", 娃娃体;
      color: #f9b294;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    section-title-3 {
      text-align: center;

      font-size: 30px;
      font-family: "Wawati SC", 娃娃体;
      color: #453A30;
      // text-decoration: underline; 待考虑
      margin-top: 50px;
      margin-bottom: 50px;
      padding-top: 10px;
    }

    div .container {
      margin : 10 103px 0 103px;
      padding : 0 15px 0 15px;
    }


    body {
        font-family: "Wawati SC", 娃娃体;
        font-size: 17px;
        line-height: 1.42857143;
        color: #333333;
        background-color: #fff;
    }

// 第四部分用户评价 end


//---------Footer---------


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: black;

  p {
      color: white;
    margin-top: 10px;
  }
}
