/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 .jumbotron1 {
  background-image:url('https://ww4.sinaimg.cn/large/006tKfTcgy1ffm5t6r8e7j30em09qmxc.jpg');
  background-repeat: repeat-x;
  background-size: cover;
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 100px;
}

.title {
  font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 80px;
}

.slogan {
  margin-top: 100px;
  margin-bottom:10px;
  text-align: center;
  color: red;
  font-size: 24px;
  top: 12px;
}

.lead {
  margin-bottom: 60px;
  text-align: center;
  color: white;
}


// 用户反馈部分CSS
.img.img-circle {
  border-radius: 50%;
  border: 1px ;

      padding: 100px;
      width: 150px;

}

// 用户反馈部分CSS
